
@font-face {
    font-family: MontReg;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontMed;
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: MontSemBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: CormorantInfantReg;
    src: url(./fonts/CormorantInfant-Regular.ttf);
}
@font-face {
    font-family: CormorantInfantMed;
    src: url(./fonts/CormorantInfant-Medium.ttf);
}
@font-face {
    font-family: CormorantInfantBold;
    src: url(./fonts/CormorantInfant-Bold.ttf);
}
@font-face {
    font-family: CormorantInfantSemBold;
    src: url(./fonts/CormorantInfant-SemiBold.ttf);}

#root{
    position: relative;
    display: flex;
    flex-direction: column;}

.container{
    display: flex;
    width: 1530px;
    max-width: 1530px;
    margin-left: auto;
    margin-right: auto;
}

body {
    position: relative;
    margin: 0;
    background-color: #F5F5F5;
}

a{
    text-decoration: none;
    color: black;
}

.load{
    animation-name: load;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode:forwards
}

@keyframes load {
    0%{
       opacity: 0; 
    }

    100%{
        opacity: 1;
    }
}